{extends layout.latte}

{block title}Pridani osoby{/block}

{block body}
    <div class="container">
    <h1>{include title}</h1>
        <form method="post" action="{link addPerson}">
            <label>Jmeno</label>
            <input type="text" name="fn" class="form-control"
                    value="{$form['fn']}"><br>
            <label>Prijmeni</label>
            <input type="text" name="ln" class="form-control"
                   value="{$form['lnn']}"><br>
            <label>Prezdivka</label>
            <input type="text" name="nn" class="form-control"
                   value="{$form['nn']}"><br>

            <button type="submit" class="btn btn-primary">
                Pridat
            </button>
        </form>
    </div>
{/block}