{extends layout.latte}

{block title}Person{/block}

{block body}
    <div class="container">

    <form method="get" action="{link osoby}">
    <input type="text" name="q" class="form-control">
    <button type="submit" class="btn btn-primary">
    Hledat
    </button>
    </form>

    <table class="table table-striped">
    <h1>Vypis osob</h1>
    <tr><th>Jmeno</th><th>Prijmeni</th></tr>
    {foreach $osoby as $o}
        <tr>

        <td>{$o['first_name']}</td>
        <td>{$o['nickname']}</td>

        </tr>

    {/foreach}
    </table>
    </div>
{/block}